@import '~bootstrap/scss/bootstrap';

.landingHeader {
  display: flex;


}

body {
  background-image: url(https://i.imgur.com/ccQ0FEx.png);
  // background: white;
  background-repeat: no-repeat;
  width: 70vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: contain;
  // justify-content: center;
  width: 100%;

}
