$info: #FFF;
$background: #00296B;
$textcolor: #FFF;
$dark: #00296B;
$primary: #FDC500;

@import '~bootstrap/scss/bootstrap';

body {
  background-color: $background;
  color: $textcolor;
}

.card-body {
  color: #000;
}

.button {
  border: 2px solid white;
}
